{% load static %}
<html>
    <head>
        <title>E-fertilizer's</title>
        <link href="{% static 'css/main.css'%}" rel="stylesheet">
    </head>
    <body>
        <div class="menu">
            <div class="logo">
                <img src="{% static 'images/mylogo23.png'%}" width="100%" height="80%">
                <b class="text">Welcome's you!</b>
            </div>
            <div class="search">
                <input class="input" type="text" placeholder="search products">
                <button class="button" type="submit">Search</button>
            </div>
            <div class="details">
                <div class="addcontact">
                    <b>Contact no:-</b>+919063161392.
                </div>
                <div class="addcontact">
                    <b>Email:-</b>info@E-fertilizer's.com
                </div>
                
            </div>
        </div>
        <div class="Fhome">
            <ul class="Fhomelink">
                <li><a href="fhome"> Home</a></li>
                <li><a href="fproduct">Product's</a></li>
                <li><a href="farmer_cart">Cart</a></li>
                <li><a href="farmer_notification">Notification's</a></li>
                <li><a href="farmer_track">Track Your Orders</a></li>
                <li><a href="farmer_order">Your orders</a></li>
                <li><a href="f_info">Your_Info</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </div>
        <div>
            {% for i in data %}
                <h1>{{i.Email}}</h1>
            {% endfor %}
        </div>
    </body>
</html>

        
 